package ${package};

import lombok.Data;
import lombok.EqualsAndHashCode;
import lombok.experimental.Accessors;
#if("$!{baseEntity}" != "")
import ${baseEntity};
#else
import java.io.Serializable;
#end
import javax.persistence.Column;
import javax.persistence.Entity;
import javax.persistence.Id;
import javax.persistence.Table;

/**
 * <p>
 * $!{table.comment}
 * </p>
 *
 * @author ${author}
 * @since ${date}
 */
@Data
#if("$!{baseEntity}" != "")
@EqualsAndHashCode(callSuper = true)
#else
@EqualsAndHashCode(callSuper = false)
#end
@Accessors(chain = true)
@Entity
@Table(name = "${table.name}")
#if("$!{baseEntityName}" != "")
public class ${entityName} extends ${baseEntityName} {
#else
public class ${entityName} implements Serializable {

    private static final long serialVersionUID = 1L;
#end
#foreach($field in ${entityFields})

#if("$!field.comment" != "")
    /**
    * ${field.comment}
    */
#end
#if(${field.keyFlag})
    @Id
#else
    @Column(name= "${field.name}")
#end
    private ${field.propertyType} ${field.propertyName};
#end
}
