package ${package};

import lombok.Data;
import lombok.EqualsAndHashCode;
import lombok.experimental.Accessors;
import java.io.Serial;
import java.io.Serializable;

/**
 * <p>
 * ${entityName} DTO
 * </p>
 *
 * @author ${author}
 * @since ${date}
 */
@Data
@EqualsAndHashCode(callSuper = true)
@Accessors(chain = true)
public class ${entityName}DTO extends ${entityName} implements Serializable {

    @Serial
    private static final long serialVersionUID = 1L;

}
