package ${package};

import lombok.extern.slf4j.Slf4j;
import com.baomidou.mybatisplus.core.metadata.IPage;
import com.baomidou.mybatisplus.extension.service.impl.ServiceImpl;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Service;

/**
 * <p>
 * $!{table.comment} ${entityName} Service
 *  Add @Transactional(rollbackFor = Exception.class) if you need.
 * </p>
 *
 * @author ${author}
 * @since ${date}
 */
@Slf4j
@Service
public class ${entityName}Service extends ServiceImpl<${entityName}Mapper, ${entityName}> {

    /**
     * Custom paging query
     * @param page page
     * @param ${entityPropertyName} {@link ${entityName}}
     * @return IPage
     */
    public IPage<${entityName}> page(IPage<${entityName}> page, ${entityName} ${entityPropertyName}){
        return this.getBaseMapper().page(page, ${entityPropertyName});
    }
}

