package ${package};

import com.baomidou.mybatisplus.core.mapper.BaseMapper;
import com.baomidou.mybatisplus.core.metadata.IPage;
import org.apache.ibatis.annotations.Mapper;
import org.apache.ibatis.annotations.Param;

/**
 * <p>
 * $!{table.comment} ${entityName} Mapper
 * </p>
 *
 * @author ${author}
 * @since ${date}
 */
@Mapper
public interface ${entityName}Mapper extends BaseMapper<${entityName}> {

    /**
     * 自定义分页查询
     * @param page page
     * @param entity {@link ${entityName}}
     * @return IPage
     */
    IPage<${entityName}> page(IPage<${entityName}> page, @Param("p") ${entityName} entity);

}

